<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{user/layout/default}">

<head>
    <meta charset="UTF-8">
    <title>FamilyTitle</title>
    <!--  사용자별 css file 추가 부분 -->

    <style>
        .addBtn:hover {
            fill: #008cba;
        }

        .minusBtn:hover {
            fill: #ea2f10;
        }

        li {
            list-style-type: none;
        }

        .relationDetail {
            cursor: pointer;
        }

        .relationDetail:hover {
            fill: #008cba;
        }
    </style>
</head>


<!-- 사용자 페이지별 javascript file -->
<th:block layout:fragment="customJsFile">

</th:block>


<!--/* layout:decorate : 파일에서 사용자 정의로 선언한 조각에 작성한 html 코드 삽입 */-->
<th:block layout:fragment="customContents">
    <div class="row" style="height: 1000px">
        <div class="col-lg-3"></div>
        <div class="mainContents col-lg-6">


            <div class="input-group mb-3" style="width: 300px">
                <span class="input-group-text">호칭 검색</span>
                <input id="search" type="text" class="form-control" placeholder="호칭을 입력해주세요" onkeyup="search()">
            </div>

            <div class="mt-lg-3">
                <table class="table table-sm table-bordered">
                    <thead class="table-secondary">
                    <tr class="text-center">
                        <th>호칭</th>
                        <th>명칭</th>
                        <th>성별</th>
                        <th>가족관계</th>
                        <th>구성원 추가</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each=" l : ${familyTitleList}">
                        <td class="familyCode" hidden="hidden" th:text="${l.familyCode}"></td>
                        <td class="appellation text-center " th:text="${l.familyAppellation}"></td>
                        <td class="title text-center " th:text="${l.familyTitle}"></td>
                        <td class="text-center font-weight-bold text-primary" th:if="${l.familyGender == 1}" th:text="${'남성'}"></td>
                        <td class="text-center font-weight-bold text-danger" th:unless="${l.familyGender == 1}" th:text="${'여성'}"></td>
                      <td class="text-center ">
                        <a tabindex="0" role="button" data-toggle="popover" data-trigger="focus" title="상세 가족관계"
                           th:data-content="${l.familyRelation}">
                          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="grey"
                               class="relationDetail bi bi-question-octagon" viewBox="0 0 16 16">
                            <path d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1 1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"/>
                            <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"/>
                          </svg>
                        </a>
                        <span th:text="${l.shortRelation}"></span>
                      </td>
                        <td class="text-center">
                            <button class="familyAddBtn btn btn-sm btn-success font-weight-bold">추가</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>



        <div class="col-lg-3 "></div>
    </div>

</th:block>

<!-- 사용자별 스크립트 작성 -->
<th:block layout:fragment="customJsCode">
    <script th:inline="javascript">

        //팝오버
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });

        //유효성 검사 validationCheck 함수
        function validationCheck(target) {
            let isValid = true;

            $.each(target, function () {

                let checkValue = $(this).val();

                if (checkValue === null || checkValue === '' || checkValue === 'undefined') {
                    isValid = false;
                    let targetId = $(this).attr('id');
                    let alertText = $(`label[for="${targetId}"]`).text();
                    alert(`${alertText} 필수 입력 항목입니다.`);
                    $(this).focus();
                    return isValid;
                }
            });
            return isValid;
        }

        //검색
        function search() {
          let val = $('#search').val();

          if(val === '') {
                $('.appellation').each((idx,item) => {
                    $(item).parents('tr').attr('hidden',false);
                })
            } else {
                $('.appellation').each((idx,item) => {
                    if($(item).text().indexOf(val) === -1) {
                        $(item).parents('tr').attr('hidden',true);
                    } else {
                        $(item).parents('tr').attr('hidden',false);
                    }
                })
            }
        }

        $('.familyAddBtn').click(function () {
            let familyCode = $(this).parents('tr').find('.familyCode').text();
            let appellation =  $(this).parents('tr').find('.appellation').text();

            let loginId = [[${session.SID}]];

            if(loginId === null) {
                alert('로그인 해주세요.');
            } else {
                if(confirm('정말 추가하시겠습니까?')) {
                    $.ajax({
                        url:'/user/addFamilyMember',
                        type:'GET',
                        data: {
                            familyCode : familyCode,
                            loginId : loginId
                        }
                    }).done(function(){
                        alert(`${appellation}를(을) 내 가족으로 추가했습니다!`);
                    }).fail(function(err){
                        console.log(err);
                    })
                }
            }
        })


    </script>

</th:block>


</html>