<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <footer th:fragment="footerFragment">
    <hr style="margin-top: 0;">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <ul>
          <li><span><b>SideProject : </b> FamilyTitle (2023.12.31 ~ . . .)</span></li>
          <li><span><b>Email : </b> eaea8@naver.com</span></li>
          <li><span><b>GitHub : </b> https://github.com/SangMin2758/family_title.git </span></li>
          <li><span><b>Blog : </b> eaea8@naver.com</span></li>
        </ul>
      </div>
      <div class="col-lg-3"></div>
    </div>
    <hr>
  </footer>

</html>