<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow p-3 mb-5 bg-body rounded  row" style="font-size: 25px;" th:fragment="headerFragment">
  <div class="col-lg-3">

  </div>

  <div class="collapse navbar-collapse col-lg-5 container" id="navbarColor01">
    <a class="navbar-brand font-weight-bold" th:href="@{/}" style="font-size: 30px;" >FamilyTitle</a>
    <ul class="navbar-nav" id="headerNav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/}">Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/user/myFamily}">MyFamily</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/user/titleList}">TitleList</a>
      </li>
      <li class="nav-item" th:if="${session.SID == 'tkdals5022@gmail.com'}">
        <a class="nav-link" th:href="@{/admin/addFamilyTitle}">AddTitle</a>
      </li>
    </ul>
      <a th:if="${session.SID  == null}" href="/login/oauth2/code" class="btn btn-lg rounded-pill btn-success font-weight-bold">Login</a>
      <a th:unless="${session.SID  == null}" href="/login/oauth2/logout" class="btn btn-lg rounded-pill btn-danger font-weight-bold">Logout</a>
  </div>
  <div class="col-lg-4">

  </div>
</nav>
</html>